<link href='http://fonts.googleapis.com/css?family=Yellowtail|Oswald:700' rel='stylesheet' type='text/css'>
.center-image {
  margin-right: auto;
  margin-left: auto;
}
.bumpRight {
  margin-left: 650px;
}
.smallText {
  font-size: 10px;
  margin-top: -15px;
}
.logo {padding: 0 5px 0 0;
}
.spacer {
  margin-bottom: 25px;
}
ul {
background-image: url("images/list-bg.png");
list-style: none;
-webkit-column-count: 2;
-webkit-column-gap: 1px;
-moz-column-count: 2;
-moz-column-gap: 1px;
column-count: 2;
column-gap: 1px;
}

